body {
    font-family: 'Lobster', cursive, sans-serif;                    /*Czcionka dla witryny*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #ffcccb;
    padding: 15px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;                                       /*Styl dla nawigacji*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
    background: none;                           /*Przycisk do nawigacji*/
    border: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;                                  /*Menu nawigacyjne*/
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul li {
    margin: 0 15px;                                 /*Odstęp między elementami menu*/
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;                                    /*Kolor tekstu w menu*/
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f2d7d5;                      /*Zmiana koloru tła po najechaniu*/
}


section {
    padding: 20px;
    flex: 1;
    display: flex;                                  /*Style sekcji i lepsze scrollowanie dla nich*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: 55px !important;  
}

section p {
    max-width: 600px;
    margin: 20px auto;                              /*Automatyczne ustawianie i formatowanie tekstu w sekcjach*/
}

.miejsce-a{
    color: #f1a6a0;                                 /*Kolor tekstu dla znacznika <a> w sekcji miejsce*/
}

#start a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff6f61, #ff3b2f);
    border-radius: 5px;
    transition: all 0.3s ease;                                  /*Przycisk w sekcji start*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

#start a:hover {
    background: linear-gradient(45deg, #ff3b2f, #ff6f61); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}


#start a:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#start h1,
#start p,                                               /* Tekst i przycisk w sekcji #start */
#start a {
    position: relative;
    z-index: 2;
}


#start {
    padding-top: 60px;
    position: relative;
    height: 80vh; 
    display: flex;
    flex-direction: column;                         /*Sekcja startowa*/
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden; 
}


#start::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);             /*Przyciemnienie tła w sekcji start*/
    z-index: 1; 
}


.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;                                /* Slider jako tło */
    height: 100%; 
    z-index: 0; 
}

.slider-container {
    width: 100%;
    height: 100%; 
    display: flex;                              /* Kontener dla slajdów */
    transition: transform 0.5s ease-in-out;
    overflow: hidden; 
}

.slider {
    display: flex;
    width: 100%;                                /* Slajdy */
    height: 100%; 
}

.slide {
    min-width: 100%;
    height: 100%; 
    box-sizing: border-box;
    display: flex;                              /* Slajd */
    align-items: center; 
    justify-content: center; 
}

.slide img {
    width: 100%;
    height: 100%;                               /* Zdjęcie w slajdzie */
    object-fit: cover; 
}


.gallery {
    display: gird;
    flex-direction: column;
    gap: 40px;                                  /* Galeria */
    padding: 20px;
}

.cake-slider {
    text-align: center;                         /* Slider z tortami */
}

.cake-slider h3 {
    font-size: 1.5em;
    margin-bottom: 10px;                        /* Nagłówek w sliderze */
    color: #333;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;                            /* Rząd zdjęć w galerii */
    gap: 20px; 
}

.gallery-row .gallery-item {
    flex: 1 1 calc(50% - 20px);                 /* Zdjęcie w galerii */
    max-width: calc(50% - 20px);
    box-sizing: border-box;
}

.gallery-slider-wrapper {
    position: relative;
    max-width: 800px;
    margin: 0 auto;                             /* Kontener dla galerii */
    overflow: hidden;
    height: auto;
    max-height: 600px;
}

.gallery-slide img {
    width: auto;
    height: 100%;
    max-height: 600px;                          /* Zdjęcie w galerii */
    object-fit: contain; 
    overflow: hidden; 
}
.gallery-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;                 /* Kontener dla slajdów */
    overflow: hidden; 
}

.gallery-slider {
    display: flex;
    width: 100%;                                /* Slajdy w galerii */
    height: 100%;
}

.gallery-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;                              /* Slajd w galerii */
    align-items: center;
    justify-content: center;
}


/* Przyciski nawigacyjne w galerii */
.gallery-scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #333;                            /* Przyciski nawigacyjne */
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.gallery-scroll-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.gallery-scroll-button.left {
    left: 10px;
}

.gallery-scroll-button.right {
    right: 10px;
}


.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;                                  /* Menu */
    justify-content: center;
    max-width: 800px; 
}

.nav
{
    margin: 0 auto 7px auto;                    /* Nawigacja */
    justify-content: center;
}

.card {
    width: 200px; 
    height: 200px; 
    background: #ffe4e1;
    border-radius: 10px;
    display: flex;                              /* Karta */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;                        /* Przód i tył karty */
    justify-content: center;
    backface-visibility: hidden;
    padding: 10px;
    font-size: 1.1em;
}

.card .back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .front div {
    position: relative;
    width: 100%;
    height: 100%;
}

.card .front div p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    display: flex; 
    justify-content: space-between;
    padding: 20px; 
    max-width: 1200px;                          /* Kontener */
    margin: 0 auto; 
}

#rezerwacja, #kontakt {
    flex: 1;
    display: flex;
    flex-direction: column;                     /* Rezerwacja i kontakt */
}

#rezerwacja {
    flex: 1;
    margin-right: 20px;                         /* Rezerwacja */
}


#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;                             /* Formularz */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#form input, #form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form button {
    padding: 10px 20px;
    background-color: #ffcccb;
    border: none;
    width: 100%;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.kontakt-info {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;                 /* Informacje kontaktowe */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    max-height: 300px;
    height: 300px;
    margin: 20px 0;
}

#kontakt a{
    color: #f1a6a0;
}


@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr; 
        display:none;                                       /* Ukrycie menu */
    }
    .card {
        width: 100%; 
        height: auto; 
        min-height: 200px;                                  /* Karta */
        aspect-ratio: auto;
        min-width:200px;
    }
    .gallery-row .gallery-item {
        flex: 1 1 calc(100% - 20px); 
        max-width: calc(100% - 20px);                       /* Zdjęcie w galerii */
    }

    .gallery-slide img {
        width: 100%;
        height: auto; 
        max-height: none;
    }

    .nav-toggle {
        display: block;                                     /* Przycisk nawigacji */
    }

    nav ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #ffcccb;
        padding: 10px 0;
    }

    nav ul.show {
        display: flex; 
    }

    nav ul li {
        margin: 10px 0;
    }

    .container {
        flex-direction: column;                         /* Kontener */
    }

    #rezerwacja {
        margin-right: 0; 
        margin-bottom: 20px;
    }
                                                        /*Na mniejzych ekranach zakladni jedna pod druga*/
    #kontakt {
        max-width: 100%; 
    }
}